.promolesson {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	
	background-color: #fff;
	border: 2px solid black;
	box-sizing: border-box;
	
	width: 267px;
	min-height: 418px;
	
	display: none;
	
	@include dtop {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
	}
}

.promolesson__container{
	padding: 20px 19px 0 28px;
	flex: 1;
}

.promolesson__title{
	font-family: 'pt_sans', arial, sans-serif;
	font-size: rem(30px);
	font-weight: 700;
	margin-bottom: 25px;
	color: #021a23;
}

.promolesson__text{
	font-family: 'pt_sans', arial, sans-serif;
	font-size: rem(20px);
	color: #021a23;
	margin-bottom: 55px;
}

.promolesson__input {
	border: none;
	border-bottom: 2px solid black;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
}

.promolesson__btn {
	background-color: #021a23;
	text-transform: uppercase;
	color: #fff;
	font-family: 'pt_sans', arial, sans-serif;
	font-size: rem(20px);
	padding: 27px 0 25px;
	border: none;
}

.promolesson__select {
	border: none;
	border-bottom: 2px solid black;
	width: 100%;
}

.promolesson__select-option {
	font-family: 'pt_sans', arial, sans-serif;
	font-size: rem(20px);
	color: #596063;
	text-transform: capitalize;
}

.promolesson_yellow {
	display: none;
	border: 2px solid #eec643;
	
	
	@include dtop {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		min-height: 566px;
	}
}

.promolesson__title_yellow{
	color:  #eec643;
}

.promolesson__text_yellow {
	margin-bottom: 203px;
}
.promolesson__input_yellow{
	border-bottom: 2px solid #eec643;
}
.promolesson__select_yellow{
	border-bottom: 2px solid #eec643;
	margin-bottom: 60px;
}

.promolesson__btn_yellow {
	background-color: #eec643;
}