include ./common/_mixins.pug

doctype html
html(lang="Ru ru")
	head
		meta(charset="utf-8")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		title Muz_shop
		link(rel='stylesheet' href='fonts/fonts.css')
		link(rel='stylesheet' href='css/main.css')
	
	body
		.wrapper
			.container
				include common/promo.pug
			
			