section.contacts
	.container.container__contacts
		.contacts__column
			.contacts__text
				.contacts__title.container-title
					h2.main-title Ждем тебя
				.contacts__content
					.contacts__content-adress СПб, 6-я Линия ВО 42
					.contacts__content-phone +7 (812) 566 56 56
			.contacts__map(id="map")
			.contacts__lesson
				a.contacts__lesson-text.content-title(href="#") вводный урок
		.contacts_form
			include promolesson_yellow.pug