footer.footer
	.container 
		.footer__row
			.footer__logo
				.logo-text.main-title Diez
			.footer__menu
				nav.menu__nav
					ul.menu__list
						li.menu__item
							a.menu__link(href="#") YOUTUBE
						li.menu__item
							a.menu__link(href="#") INSTAGRAM
						li.menu__item
							a.menu__link(href="#") FACEBOOK
						li.menu__item
							a.menu__link(href="#") VKONTAKTE