section.growup-music#growup-music
	.container.container_growup-music
		.growup-music__title.container-title
			h2.main-title.growup-music__title-text Растим музыкантов
		.growup-music__list
			.growup-music__row
				.growup-music__block.growup-music__block_vocal
					.growup-music__block-title.content-title_bold Вокал
					.growup-music__text.content-title Пой, как Селин Дион и Эми Вайнхаус

				.growup-music__block.growup-music__block_guitar
					.growup-music__block-title.content-title_bold Гитара
					.growup-music__text.content-title Начни играть, как Джими Хендрикс
			.growup-music__row.growup-music__row_second

				.growup-music__block.growup-music__block_piano.last-item__left
					.growup-music__block-title.content-title_bold Фортепиано
					.growup-music__text.content-title Чувствуй клавиши, как Людовико Эйнауди
			
				.growup-music__block.growup-music__block_lection
					.growup-music__block-title.content-title_bold Лекции
					.growup-music__text.content-title Подтяни свои знания в теории музыки

				.growup-music__directions
					.growup-music__directions-text.content-title Все направления