header.header
	.header__row
		.logo
			.logo-text.main-title Diez
		.menu
			button(type="button").menu__hamburger
				.menu__hamburger-item
			include openmenu.pug		
			nav.menu__nav
				ul.menu__list
					li.menu__item
						a.menu__link(href="#growup-music") направления
					li.menu__item
						a.menu__link(href="#temp") о школе
					li.menu__item
						a.menu__link(href="#inschool") видео
					li.menu__item
						a.menu__link(href="#contacts") контакты