header.header
	.header__row
		.logo
			.logo-text.main-title Diez
		.menu
			button(type="button").menu__hamburger
				.menu__hamburger-item
			include openmenu.pug		
			nav.menu__nav
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") направления
					li.menu__item
						a.menu__link(href="#") о школе
					li.menu__item
						a.menu__link(href="#") видео
					li.menu__item
						a.menu__link(href="#") контакты