section.inschool#inschool
	.container.container_inschool
		.inschool__title.container-title
			h2.main-title.inschool__title-text В стенах школы
		.inschool__slider
			
			.inschool__slider-item.inschool__slider-item_main
				img.inschool__slider-slide.inschool__slider-slide_main(src="img/inschool/video_1.jpg" alt="image")
				.inschool__slider-content
					.inschool__slider-title.content-title_bold Зимняя вишня
					.inschool__slider-text Заключительный зимний концерт 2017 года выступало 97 учеников
				a.inschool__slider-playbtn(href="#")
								
			.inschool__slider-item
				img.inschool__slider-slide(src="img/inschool/video_2.jpg" alt="image")
				.inschool__slider-content
					.inschool__slider-title Янг Чжо
					.inschool__slider-text Репетиция сольной партии скрипки
				a.inschool__slider-playbtn(href="#")
					
			.inschool__slider-item
				img.inschool__slider-slide(src="img/inschool/video_3.jpg" alt="image")
				.inschool__slider-content
					.inschool__slider-title Летний штиль
					.inschool__slider-text За кулисами концерта
				a.inschool__slider-playbtn(href="#")
					
			.inschool__slider-item.inschool__slider-item_last
				img.inschool__slider-slide(src="img/inschool/video_4.jpg" alt="image")
				.inschool__slider-content
					.inschool__slider-title Сергей Трофимов
					.inschool__slider-text ЛЮБЭ — Выйду в поле с конем
				a.inschool__slider-playbtn(href="#")