section.inschool
	.container.container_inschool
		.inschool__title.container-title
			h2.main-title.inschool__title-text В стенах школы
		.inschool__slider
			.inschool__slider-arrow.inschool__slider-arrow_back
			.inschool__slider-block
				ul.inschool__slider-list
					li.inschool__slider-item
						.inschool__slider-slide.inschool__slider-slide_first
							.inschool__slider-content
								.inschool__slider-title Зимняя вишня
								.inschool__slider-text Заключительный зимний концерт 2017 года выступало 97 учеников
								.inschool__slider-playbtn
								
					li.inschool__slider-item
						.inschool__slider-slide.inschool__slider-slide_second
							.inschool__slider-content
								.inschool__slider-title Янг Чжо
								.inschool__slider-text Репетиция сольной партии скрипки
								.inschool__slider-playbtn
					
					li.inschool__slider-item
						.inschool__slider-slide.inschool__slider-slide_third
							.inschool__slider-content
								.inschool__slider-title Летний штиль
								.inschool__slider-text За кулисами концерта
								.inschool__slider-playbtn
					
					li.inschool__slider-item
						.inschool__slider-slide.inschool__slider-slide_fourth
							.inschool__slider-content
								.inschool__slider-title Сергей Трофимов
								.inschool__slider-text ЛЮБЭ — Выйду в поле с конем
								.inschool__slider-playbtn
								
			.inschool__slider-arrow.inschool__slider-arrow_next
	
		.inschool__video
			.inschool__video-left
				.inschool__slider-slide.inschool__slider-slide_first.inschool__slider-slide_videomain
					.inschool__slider-content
						.inschool__slider-title.content-title_bold Зимняя вишня
						.inschool__slider-text.content-title Заключительный зимний концерт 2017 года выступало 97 учеников
						.inschool__slider-playbtn
			.inschool__video-right
			
				.inschool__slider-slide.inschool__slider-slide_second.inschool__slider-slide_video
					.inschool__slider-content.inschool__slider-content_video
						.inschool__slider-title Янг Чжо
						.inschool__slider-text Репетиция сольной партии скрипки
						.inschool__slider-playbtn
						
				.inschool__slider-slide.inschool__slider-slide_third.inschool__slider-slide_video
					.inschool__slider-content.inschool__slider-content_video
						.inschool__slider-title Летний штиль
						.inschool__slider-text За кулисами концерта
						.inschool__slider-playbtn
					
				
				.inschool__slider-slide.inschool__slider-slide_fourth.inschool__slider-slide_video
					.inschool__slider-content.inschool__slider-content_video
						.inschool__slider-title Сергей Трофимов
						.inschool__slider-text ЛЮБЭ — Выйду в поле с конем
						.inschool__slider-playbtn