.openmenu
	.container
		.openmenu__header
			.openmenu__logo
				.openmenu-text.main-title Diez
			.openmenu__close
				button(type="button").openmenu__closebtn
					.openmenu__closebtn-item
		nav.openmenu__nav
			ul.openmenu__list
				li.openmenu__item
					a.openmenu__link.content-title(href="#growup-music") направления
				li.openmenu__item
					a.openmenu__link.content-title(href="#temp") о школе
				li.openmenu__item
					a.openmenu__link.content-title(href="#inschool") видео
				li.openmenu__item
					a.openmenu__link.content-title(href="#contacts") контакты