section.promo
	include header.pug
	.promo__content
		h1.main-title.main-title_promo Школа музыкального искусства
		h2.content-title Научим петь, играть на инструментах, получать удовольствие от музыки и не бояться сцены
		
	.promo__link
		a.promo__link-text вводный урок