form.promolesson.promolesson_yellow
	.promolesson__container.promolesson__container_yellow
		.promolesson__title.promolesson__title_yellow Вводный урок
		.promolesson__text.promolesson__text_yellow Попробуй любые направления  бесплатно
		input(type="text" placeholder="Имя").promolesson__input.promolesson__input_yellow.promolesson__input_name
		input(type="tel" placeholder="Телефон").promolesson__input.promolesson__input_yellow.promolesson__input_tel
		select.promolesson__select.promolesson__select_yellow
			option.promolesson__select-option Направления

	button(type="submit").promolesson__btn.promolesson__btn_yellow записаться