section.temp#temp
	.container.container__temp
		.temp__item.temp__item_column
			.temp__title.container-title
				h2.main-title.main-title_temp Задаем темп
			.temp__item-uprow
				.temp__block.temp__block_composition
					.temp__block-title.content-title_bold Состав
					.temp__text.content-title Учись только у профессионалов

				.temp__block.temp__block_result
					.temp__block-title.content-title_bold Результат
					.temp__text.content-title Выуступай на отчетных концертах
		.temp__item.temp__item-row
			.temp__block.temp__block_studio
				.temp__block-title.content-title_bold Студия
				.temp__text.content-title Записывай песни каждый месяц
			.temp__lesson
				.temp__lesson-text.content-title ВВОДНЫЙ УРОК
			.temp__promolesson
				include promolesson_yellow.pug
				